.home_container {
    background: var(--background-color);
    margin-top: 9rem;
    padding-top: 4rem;
    width: 100%;
    min-height: 100vh;
}



/* media styles goes here */
@media (max-width: 425px) {
    .home_container {
        margin-top: 5.5rem;
    }
}